.disciplina {
    padding: 1em;
    margin: 0 10em;
    border: 1px solid lightgrey;
    border-radius: 0.5em;
    font-family: sans-serif;
    font-size: 12px;
    gap: 0.2em;
    display: grid;
    grid-template-columns: 1fr auto ;


}
.disciplina h1 {
    color: brown;
}
